<h1>About Me</h1>
<p>
	I'm
	<a href="http://www.facebook.com/RichieSambora87">Riccardo Campana</a>
    and I'm an italian student and right now I'm in Erasmus at the KTH, Stockholm. This project is part of a the Media Production course that I've followed. In particular, this is one of the assignment that I have to do in order to achieve an higher grade on the exam, that is the first extra task on the Media Production Web Lab part.
</p>
