<h1>Contact</h1>
<p>
    You can contact me in many ways.<br/>
	<br/>
	<a href="mailto:nemesis_and_peace@hotmail.it">Email</a><br/>
	<br/>
    <a href="http://www.facebook.com/RichieSambora87">Facebook Profile Page</a>.<br/>
	<br/>
	<a href="http://www.myspace.com/dream_of_nemesis">Myspace Profile Page</a>.<br/>
	<br/>
	Mobile:+46764099542
</p>