<h1>Twitter</h1>
<p>
	This is the home page for my Twitter. It has be done following the
    <a href="http://railstutorial.org/">Ruby on Rails Tutorial</a>.
</p>

<%= link_to "Sign up now!", '#', :class => "signup_button round" %>
